<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-eOJMYsd53ii+scO/bJGFsiCZc+5NDVN2yr8+0RDqr0Ql0h+rP48ckxlpbzKgwra6" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-JEW9xMcG8R+pH31jmWH6WWP0WintQrMb4s7ZOdauHnUtxwoG2vI5DkLtS3qm9Ekf"
        crossorigin="anonymous"></script>
</head>

<body>
    <main class="container">
        <div class="row text-center">
            <a href="myFav" class="btn btn-success ">My Fav</a>

        </div>

        <div class="row mt-5">
            <div class="col-12">
                <% jokes.forEach(res=>{%>
                    <div class="card mt-4">
                        <div class="card-body">
                            <h5 class="card-title">Jokes Type : <%=res.type%></h5>
                            <p class="card-text" name='setup'>
                                <%=res.setup%>
                            </p>
                            <p class="card-text" name='punchline'>
                                <%=res.punchline%>
                            </p>
                            
                            <form action="/fav" method="post">
                                <input type="text" name="type" hidden value=" <%=res.type%>">
                                <input type="text" name="setup" hidden value="<%=res.setup%>">
                                <input type="text" name="punchline" hidden value="<%=res.punchline%>">
                               <input type="submit" name="submit" class="btn btn-primary" value="add To Fav">
                            </form>
                        </div>
                    </div>
                    <%})%>
            </div>

        </div>
    </main>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.1/dist/umd/popper.min.js"
        integrity="sha384-SR1sx49pcuLnqZUnnPwx6FCym0wLsk5JZuNx2bPPENzswTNFaQU1RDvt3wT4gWFG"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta3/dist/js/bootstrap.min.js"
        integrity="sha384-j0CNLUeiqtyaRmlzUHCPZ+Gy5fQu0dQ6eZ/xAww941Ai1SxSY+0EQqNXNE6DZiVc"
        crossorigin="anonymous"></script>
</body>

</html>